{% extends 'base.html.twig' %}

{% block title %} {{ 'admin.nobuy'|trans }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5"> User :  {{bag.UseId.FirstName}} {{bag.UseId.LastName}}</h1>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th> {{ 'produit.produit'|trans }} </th>
                    <th> {{ 'qte'|trans }} </th>
                </tr>
            </thead>
            <tbody>
                {% for b in bagItems %}
                <tr>
                    <td class="d-flex flex-row "> 
                        <figure>
                            <img src="{{ asset('/uploads/'~  b.ProductId.image) }}" class="img-thumbnail" alt={{ b.ProductId.name }} style="height: 100px; width: 100px;object-fit: cover;"/>
                        </figure>
        
                        <div class="ms-3">
                            <p>{{b.ProductId}}</p>
                        </div>
                    </td>
                    <td>  {{b.Quantity}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}