{% extends 'base.html.twig' %}

{% block title %} {{ 'produit'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex mt-5">
            <div class="g-col-6">
                <figure>
                    <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 500px;" />
                </figure>
            </div>
            <div class="g-col-6 ms-5">
                <h1> {{ 'produit.produit'|trans }} :{{ product.name }}</h1>
                <p> {{ 'produit.des'|trans }} : {{ product.description }}</p>
                <p> {{ 'prix'|trans }} : {{ product.price }}€</p>
                {# {{form(form)}} #}
                {# {{ form(form, {'attr': {'class': 'd-flex flex-row'}}) }} #}
                {% if product.stock > 0 %}

                {{ form_start(form) }}
                    {{ form_widget(form, {'attr': {'class': 'd-flex flex-row'}}) }}
                    <button class="btn btn-primary">
                        {{ button_label|default('produit.add'|trans) }}
                    </button>
                {{ form_end(form) }}
                {% else %}
                    <p class="text-danger text-center m-0"> Disponible </p>
                   
                {% endif %}
            </div>

        </div>       
    </div>
    {# {{ include('product/_delete_form.html.twig') }} #}

{% endblock %}
