{% extends 'base.html.twig' %}

{% block title %} {{ 'error.error404.title'|trans }} {% endblock %}

{% block body %}
    <div class="container d-flex flex-column align-items-center">
        <h1 class="mt-5"> {{ 'error.error404.title'|trans }} </h1>
        <p>
            {{ 'error.error404.text'|trans }}<a href="{{ path('app_product_index')}}">{{ 'error.home'|trans }}</a>.
        </p>
        <figure class="">
            <img src="{{ asset('/uploads/404.jpeg') }}" alt="error 404" />
        </figure>
    </div>

{% endblock %}